.nav__link {
  position: relative;
  background-color: green;
}

.nav__link a {
  display: inline-block;
  padding: 2px 8px 5px;
  background-color: hsl(0 0% 96% / 1);
  border-radius: 5px;
  margin: 5px;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: max-content;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  background-color: yellow;
}

.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  min-width: max-content;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  background-color: crimson;
}

.nav__link:hover > .dropdown__menu,
.nav__link:hover > .submenu {
  opacity: 1;
  visibility: visible;
}
