ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.dropdown__el {
  position: relative;
}

/* 
.dropdown__el > .dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: max-content;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.dropdown__el:hover > .dropdown__menu {
  opacity: 1;
  visibility: visible;
}

.dropdown__el .dropdown__menu .dropdown__el > .dropdown__menu {
  top: 0;
  left: 100%;
} */
